{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <section class="fight-home">
        <h2 class="fight-home-title">COMBATS <span class="fight-home-title-span">ET PARIS</span></h2>
    </section>
    <section class="fight-content">
        <div class="fight-content-planning">
            <h4 class="fight-content-planning-title">PLANNING</h4>
            <!-- Fight Card -->
            {% for fight in fights %}
            <div class="fight-content-planning-item">
        <div class="fight-content-planning-item-infos">
                    <div class="fight-content-planning-item-infos-img">
                        <img src="" alt="Aliens">
                    </div>
            <div class="fight-content-planning-item-infos-text">
                        <p>{{ fight.userName1 }}</p>
                        <p>{{ fight.alienName1 }}</p>
                        <p>Côte: {{ fight.alienOdd1 }}</p>
                <form class="fight-content-planning-item-form" action="/bet/addbet/1/{{ fight.target }}" method="post">
                    <input class="fight-content-planning-item-input" name="wager" type="text" placeholder="">
                    <input class="fight-content-planning-item-button" type="submit" value="Miser">
                </form>
                    </div>
                </div>
                <div class="fight-content-planning-item-others">
                    <p class="fight-content-planning-item-vs">VS</p>
                    <p class="fight-content-planning-date">{{ fight.date }}</p>
                </div>
                <div class="fight-content-planning-item-infos fight-reverse">
                    <div class="fight-content-planning-item-infos-img">
                        <img src="" alt="Aliens">
                    </div>
                    <div class="fight-content-planning-item-infos-text">
                        <p>{{ fight.userName2 }}</p>
                        <p>{{ fight.alienName2 }}</p>
                        <p>Côte: {{ fight.alienOdd2 }}</p>
                       <!-- <p class="fight-content-planning-item-button">Miser</p> -->
                        <form class="fight-content-planning-item-form" action="/bet/addbet/2/{{ fight.target }}" method="post">
                            <input class="fight-content-planning-item-input" name="wager" type="text" placeholder="">
                            <input class="fight-content-planning-item-button" type="submit" value="Miser">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End Fight Card -->
            <div class="fight-content-planning-request">
                <h4 class="fight-content-planning-request-title">EN ATTENTE</h4>
                <!-- Request Card -->
                <div class="fight-content-planning-request-item">
                    <div class="fight-content-planning-request-item-infos">
                        <div class="fight-content-planning-request-item-infos-img">
                            <img src="" alt="Aliens">
                        </div>
                        <div class="fight-content-planning-request-item-infos-text">
                            <p>Tchikito</p>
                            <p>Alien</p>
                            <p>ELO: 42</p>
                        </div>
                    </div>
                    <div class="fight-content-planning-item-others">
                        <p class="fight-content-planning-request-item-vs">VS</p>
                        <p class="fight-content-planning-date">../../..</p>
                    </div>
                    <div class="fight-content-planning-request-item-infos">
                        <p class="fight-content-planning-request-button">Joindre le combat</p>
                    </div>
                </div>
                <!-- End Request Card -->
            </div>
        </div>
    </section>
{% endblock %}