{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
<div class="userbackground">
<section class="profile-background">
    <div class="profile-info">
    <div class="profile-info-picture">
        <img src="https://www.halopedia.org/images/thumb/8/8f/Halo4_Master-Chief-05.png/300px-Halo4_Master-Chief-05.png" alt="profile picture">
    </div>

    <div class="profile-info-information">
        <div class="profile-info-information-flex">
            <h2 class="profile-info-information-username-h2">{{ userPseudo }}</h2>
            <a href="">
                <img src="../assets/imgs/pencil-edit.png" alt="edit">
            </a>
        </div>
        <p class="profile-info-information-date">{{ userBirthdate }}</p>
        <div class="profile-info-information-flex edit">
            <p class="profile-info-information-description">“{{ userDescription }}"</p>
            <a href="">
                <img src="../assets/imgs/pencil-edit.png" alt="edit">
            </a>
        </div>
        <div class="profile-info-information-money">
            <p class="profile-info-information-money-amount">{{ userNbCredit }}</p>
            <img src="../assets/imgs/space-coin.png" alt="edit">
        </div>
        <p><a href="#" class="margin-fix link">recharger ses space coins</a></p>
        <div class="profile-info-information-flex edit">
            <p class="profile-info-information-email">{{ userMail }}</p>
            <a href="#">
                <img src="../assets/imgs/pencil-edit.png" alt="edit">
            </a>
        </div>
        <a href="#" class="margin-fix link">changer son mot de passe ?</a>
    </div>
    </div>
</section>

<section class="battleswon">
    <div class="battleswon-wins">
        <p><span>{{ userWin }}</span> Wins</p>
    </div>
    <div class="battleswon-loses">
        <p><span>{{ userDefeat }}</span> Defeats</p>
    </div>
</section>

{% if betOfUser %}
<section class="combat-history">
    <div class="combat-history-container">
        <h2 class="combat-history-title">Mes paris en cours</h2>
    </div>
    <div class="combat-history-overlay">
        {% for bet in betOfUser %}
        <div class="combat-history-overlay-result">
            <div class="fight-content-planning-item">
                <div class="fight-content-planning-item-infos">
                    <div class="fight-content-planning-item-infos-img">
                        <img style="width: 100%; height: 100%;" src="{{ bet.alienImg1 }}" alt="Aliens">
                    </div>
                    <div class="fight-content-planning-item-infos-text">
                        <p>{{ bet.userPseudo1 }}</p>
                        <p>{{ bet.alienName1 }}</p>
                        <p>{{ bet.oddFighter1 }}</p>
                        {% if bet.betTarget is same as(1) %}
                        <p style="color:#3EB8AB;" class="fight-content-planning-item-bet">Mise: {{ bet.wager }}</p>
                        {% else %}
                        <p class="fight-content-planning-item-bet"></p>
                        {% endif %}
                    </div>
                </div>
                <div class="fight-content-planning-item-others">
                    <p class="fight-content-planning-item-vs">VS</p>
                    <p class="fight-content-planning-date">{{ bet.date }}</p>
                </div>
                <div class="fight-content-planning-item-infos fight-reverse">
                    <div class="fight-content-planning-item-infos-img">
                        <img style="width: 100%; height: 100%;" src="{{ bet.alienImg2 }}" alt="Aliens">
                    </div>
                    <div class="fight-content-planning-item-infos-text">
                        <p>{{ bet.userPseudo2 }}</p>
                        <p>{{ bet.alienName2 }}</p>
                        <p>{{ bet.oddFighter2 }}</p>
                        {% if bet.betTarget is same as(2) %}
                        <p style="color:#3EB8AB; class="fight-content-planning-item-bet">Mise: {{ bet.wager }}</p>
                        {% else %}
                        <p class="fight-content-planning-item-bet"></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% if alienOfUser %}
<section class="profile-aliens">
    <div>
        <h2 class="profile-aliens-title">Mes Aliens</h2>
    </div>
    <div class="profile-aliens-cards">
        {% for alien in alienOfUser %}
            <div class="bestiaire-aliens-card">
                <div class="bestiaire-aliens-card-img">
                    <img src="https://vignette.wikia.nocookie.net/halo/images/f/fb/Elite_de_Operaciones_Especiales_HR.png/revision/latest?cb=20160503120721&path-prefix=es" alt="">
                </div>
                <div class="bestiaire-aliens-card-details">
                    <p>Name : <span>{{ alien.name }}</span></p>
                    <p>Race : <span>{{ alien.race }}</span></p>
                    <p>Origine : <span>{{ alien.origin }}</span></p>
                    <p>ELO : <span>{{ alien.rating }}</span></p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}
</div>
{% endblock %}
