<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../assets/imgs/favicon.png"/>
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    <style>
        .backHomeLink {
            color:white;
            font-size:20px;
            margin:10px 0 0 10px;
            position: absolute;
            right: 10px;
            top: 0;
        }
    </style>
</head>
<a class="backHomeLink" href="./">Retour à la home</a>
<div class="signup-form">
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.birthdate) }}
    {{ form_row(form.crediCode) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.description) }}

<button type="submit">S'inscrire !</button>
{{ form_end(form) }}
</div>
</html>